body{
   margin: 0px;
}
div#topo{
    background:#294C71 url("../images/fundo.png") repeat-x bottom ;
    margin:0px;
    padding: 20px;
}

#topo ul{
    list-style-type:none;
}

#topo ul li{
    border: 1px solid yellow;
    display: inline-block;
    color: white;
    line-height: 16px;
    background-color: crimson;
    padding:8px;
    margin: 0px 0px;
}

#topo img#logo{
    margin-left: 40px;
}