body {
    margin: 0px;
    background-color:#E6E6E6;
}

h1 {
    margin: 0px;
    text-align: center;
    padding: 25px;
    padding-bottom: 20px;
    font: 40px Trebuchet MS, Helvetica, sans-serif;
    font-weight: 700
}

#title {
    color: white;
}


#cabecalho{
    background-color: #F7B600;
    margin: 0px;
}

#menu {
    text-align: center;
    padding-bottom: 25px;
}

a{
    padding: 8px 12px;
    font: 16px trebuchet MS, Helvetica, sans-serif;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: white;
    color:#F7B600;
}