body {
    background-image: url(imagens/fundo.png);
    font: 16px arial, helvetica, sans-serif;
}

img {
    border: 8px solid #c5c5b2;
}

a {
   text-decoration: none;
   color: #4b566a;    
   font-weight: bold;
   padding: 5px;
}

.menu {
    padding: 18px;
    font: 18px;
    font-weight:700;
    background-color:#c5c5b2;
}

p {
    font: 15px;
    font-weight: 500;
}

.texto {
    padding:15px;
    background-color: #e8e8d9;
}

h1 {
    font: 1.2em arial, helvetica, sans-serif;
    color: #828271;
    display: block;
    font-weight: bold;
}